<% layout('./layout/page.ejs') %>

<% if(user) {%>
  <h1>Привет <%= user.username %></h1>
  <h2>Наслаждайся и познавай все фишки геемдева</h2>
<% }else{ %>
 <h1>Приствую незалогиненый пользователь </h1>
 <h2>Чтобы узнать побольше о геемдеве тебе нужно войти или зарегестрироваться на сайте</h2>

<% } %>